
    <div class="blurb blurb-fatured">
        <h3>Trending Courses</h3>
        <div class="plain-wrp">
            <ul>
                <li>
                    <a href="{{ site.btc_url }}">D.EL.ED. (BTC)</a>
                    (50 Seats) Admission Open for 2014-15 session. Two Years Professional Primary Teachers Training course. Recognised by NCTE, New Delhi. Govt. Of India. Counselling through DIET Office, Near Rajapur Railway Crossing, Lakhimpur-Kheri (U.P.) 
                </li>
                <li>
                    <a href="{{ site.bba_url }}">Bachelor of Business Administration (B.B.A)</a>
                    (60 Seats) Three years (Six Semesters) Professional Graduate course in Business Administration.
                </li>
                <li>
                    <a href="{{ site.bed_url }}">Bachelor of Education (B.Ed)</a>
                    (100 Seats) Two years Degree course in Education. B.Ed. Counseling Code for session 2015-17: 2754
                </li>
                <li>
                    <a href="{{ site.ba_url }}">Bachelor of Arts (B.A)</a>
                    (420 Seats) Three years Degree course in Arts stream. Subjects in B.A: Sociology, English Literature, Education, Home Science, Hindi Literature, Economics, Political Science.
                </li>
            </ul>
        </div>
    </div>
    
    <!-- div class="blurb blurb-topart">
        <h3>Important Resources</h3>
        <div class="plain-wrp">
            <ul class="wpp-list">
                <li><a href="#" class="wpp-post-title">Under construction 1</a></li>
                <li><a href="#" class="wpp-post-title">Under construction 2</a></li>
                <li><a href="#" class="wpp-post-title">Under construction 3</a></li>
                <li><a href="#" class="wpp-post-title">Under construction 4</a></li>
            </ul>
        </div>
    </div --> 