{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}{% if page.url == '/' %}<!--

 ████████████████   ██████████████ ████████████   ██████████████
 ██░░░░░░░░░░░░██   ██░░░░░░░░░░██ ██░░░░░░░░████ ██░░░░░░░░░░██
 ██░░████████░░██   ██░░██████░░██ ██░░████░░░░██ ██░░██████████
 ██░░██    ██░░██   ██░░██  ██░░██ ██░░██  ██░░██ ██░░██
 ██░░████████░░██   ██░░██████░░██ ██░░██  ██░░██ ██░░██
 ██░░░░░░░░░░░░██   ██░░░░░░░░░░██ ██░░██  ██░░██ ██░░██
 ██░░██████░░████   ██░░██████████ ██░░██  ██░░██ ██░░██
 ██░░██  ██░░██     ██░░██         ██░░██  ██░░██ ██░░██
 ██░░██  ██░░██████ ██░░██         ██░░████░░░░██ ██░░██████████
 ██░░██  ██░░░░░░██ ██░░██         ██░░░░░░░░████ ██░░░░░░░░░░██
 ██████  ██████████ ██████         ████████████   ██████████████

 Licence: MIT License <http://jaswinder.mit-license.org/>
 
-->

{% endif %}<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}{% if page.layout == 'post' %} - {{ site.name }}{% endif %}</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="description" content="Royal Prudence Degree College, Lakhimpur-Kheri is a self-financed Degree College established in July 2004, affiliated to C.S.J.M. University, Kanpur and Recognised by NCTE, New Delhi, Govt. Of India.">
    <meta name="keywords" content="Education, ROYAL PRUDENCE DEGREE COLLEGE, LAKHIMPUR-KHERI, SITAPUR ROAD, NEAR RELIANCE PETROL PUMP, LAKHIMPUR-KHERI, UTTAR PRADESH">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/header.css" type="text/css" />
    <link rel='stylesheet'  href='assets/style.css' type='text/css' media='all' />
    <script type='text/javascript' src='assets/js/jquery.js?ver=1.11.3'></script>
    <script type='text/javascript' src='assets/js/jquery-migrate.min.js?ver=1.2.1'></script>
    <!--[if lt IE 9]><script type='text/javascript' src='assets/js/html5.js?ver=3.7.3'></script><![endif]-->
    <script>
      var $j = jQuery.noConflict();
    </script>
  </head>
  <body class="single single-post postid-102 single-format-standard group-blog no-sidebar">
    <!--[if lt IE 6]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
<div class="wrapper-nav col0">
      <br class="clear" />
</div>
<div class="wrapper-nav col1">
  <div id="header-nav">
    <div id="logo">
      <a href="/"><img src="assets/images/logo.png" alt="Royal Prudence Degree College" title="Royal Prudence Degree College" width="320"></a>
    </div>
    <div class="fl_right">
      <ul class="header_links">
        <li class="first-nav"><a href="/disclaimer">Disclaimer</a></li>
        <li><a href="http://www.kanpuruniversity.org/" target="_Blank">Kanpur University</a></li>
        <li><a href="http://www.kanpuruniversity.org/imp_dates_results.htm" target="_Blank">Online Result</a> 
        <img src="assets/images/new.gif" alt="(new)"></li>
      </ul>
      <p>Tel: 05872-264455 | Email: <a href="mailto:royalprudence@yahoo.com">royalprudence@yahoo.com</a></p>
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper-nav col2">
  <div id="topnav">
    <ul>
      <li class="active-nav"><a href="/">Home</a>
        <ul>
          <li><a href="{{ site.bed_url }}">B.Ed</a></li>
          <li><a href="{{ site.bba_url }}">Bachelor of Business Administration (B.B.A)</a></li>
          <li><a href="{{ site.btc_url }}">B.T.C (D.EL.ED)</a></li>
          <li class="last"><a href="{{ site.ba_url }}">Bachelor of Arts (B.A)</a></li>
        </ul>
      </li>
      <li><a href="/about_us">College Profile</a></li>
      <li><a href="/notifications">Notification</a></li>
      <li class="last"><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
</div>
    <!-- page content -->
    <div class="page" role="main">
      <div class="page-wrp">
        <div class="wrapper">
 	
<!-- Article -->
<section class="article lfloat">
    <article id="post-102" class="post-102 post type-post status-publish format-standard has-post-thumbnail hentry category-news">
            
{{ content }}

    </article>

<div id="comments" class="comments-area">
			<div id="respond" class="comment-respond">
			<h2 id="reply-title" class="comment-reply-title">Share this</h2>
			<div class="ssba ssba-wrap">
			    <a data-site="" class="ssba_facebook_share" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
			    <img src="assets/images/facebook.png" title="Facebook" class="ssba ssba-img" alt="Share on Facebook" />
 			   </a>
  			  <a data-site="" class="ssba_google_share" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank">
  			  <img src="assets/images/google.png" title="Google+" class="ssba ssba-img" alt="Share on Google+" />
 			   </a>
 			   <a data-site="" class="ssba_twitter_share" href="http://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.title }}" target="_blank">
 			   <img src="assets/images/twitter.png" title="Twitter" class="ssba ssba-img" alt="Tweet about this on Twitter" />
 			   </a>
			</div>
			</div>
</div>      
</section> 
<!-- /Article -->

<!-- Sidebar -->
<aside class="sidebar rfloat" role="complementary">     
{% include notice.html %}    
{% include sidebar.html %}
</aside>
<!-- Sidebar -->  
              
        </div>    
      </div>        
    </div>
    
<footer class="footer" role="contentinfo">
    <div class="row-links res-footer">
        <div class="wrapper">
            <div class="col">
                <h4>Courses</h4>
                <ul>
                    <li><a href="{{ site.btc_url }}">B.T.C (D.EL.ED)</a></li>
                    <li><a href="{{ site.bed_url }}">Bachelor of Education (B.Ed)</a></li>
                    <li><a href="{{ site.bba_url }}">Business Administration (B.B.A)</a></li>
                    <li><a href="{{ site.ba_url }}">Bachelor of Arts (B.A)</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Information</h4>
                <ul>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/faculty">Faculty</a></li>
                    <li><a href="/disclaimer">Disclaimer</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Our Address</h4>
                <ul>
                    <li>Sitapur Road,<br>
                    Near Reliance Petrol Pump,<br>
                    Lakhimpur-Kheri, Uttar Pradesh, India 262701<br>
                    Phone: 05872-264455<br>
                    Fax: 05872-263291<br>
                    <a href="mailto:royalprudence@yahoo.com" title="Contact us by email">royalprudence@yahoo.com</a>
                    </li>
                </ul>
            </div>
            <div class="col last">
                <h4>Powered By</h4>
                <ul>
                    <li class="fea-partner" id="fprtnr">
                        <a href="https://wiselook.co.in" title="WiseLook" alt="WiseLook"><img alt="Cloud Hosting" src="assets/images/wiselook.png"></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="copyright">
            <div class="wrapper">
                <h4>Copyright <copy></copy> <script>document.write(new Date().getFullYear())</script> {{ site.name }}. 
                    &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/disclaimer" title="Disclaimer">Disclaimer</a>
                </h4>
            </div>
        </div>
</footer>
    
    <script src="assets/js/responsiveslides.min.js"></script>
    <script src="assets/js/custome.js"></script>
    <script>$j(document).ready(function(e){$j("#hero").responsiveSlides({auto:false,pause:true,pager:true,speed:500,});$j('.top-nav li').mouseover(function(){var pos=$j(this).position();var width=$j(this).width()/2;$j('.nav-active').css({left:(pos.left-5+width)+"px"});});$j('#scrlbottom').click(function(e){e.preventDefault();$j('html,body').animate({scrollTop:9999},'slow');});});</script>
    <script type='text/javascript' src='assets/js/skip-link-focus-fix.js'></script>
    <script type='text/javascript'>
      /* <![CDATA[ */
      var screenReaderText = {
        "expand":"expand child menu","collapse":"collapse child menu"};
      /* ]]> */
    </script>
    <script type='text/javascript' src='assets/js/functions.js'></script>
  </body>
</html>
